/* Move @import to the top */
@import 'react-toastify/dist/ReactToastify.css';

/* Tailwind's base, components, and utilities directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-background {
    background-color: var(--background-color);
  }

  .text-foreground {
    color: var(--foreground-color);
  }

  .border-border {
    border-color: var(--border-color);
  }
}
